body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 90%;
  max-width: 500px;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #da5151;
}

button {
  padding: 10px 20px;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

a {
  color: #0077ff;
  cursor: pointer;
}

.option-btn {
  padding: 10px;
  background-color: #43a2fc;
  border: none;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.option-btn:hover {
  background-color: #d1d1d1;
}

.hidden {
  display: none;
}

#feedback {
  font-weight: bold;
  margin-top: 10px;
}
